* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
}

textarea {
    height: 40vh;
    width: 100vw;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1rem;
    border: 0.5rem solid black;
    border-radius: 1rem;
    background-color: rgb(241, 241, 241);
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem 0.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 2rem;
}

.ubtn {
    background-color: #ffffff; /* Green */
    height: auto;
    width: 7rem;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
}

.lbtn {
    background-color: #ffffff; /* Green */
    height: auto;
    width: 7rem;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
}

.copy {
    background-color: #ffffff; /* Green */
    height: auto;
    width: 7rem;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
}

.clear {
    background-color: #ffffff; /* Green */
    height: auto;
    width: 7rem;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
}

@media (max-width: 1080px) {
    .btns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.3rem 0.3rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
    }
}
